coverage
e2e
build
src
.angular-cli.json
.editorconfig
.vscode
.gitignore
.npmignore
.sass-lint.yml
.scannerwork
Dockerfile  
Jenkinsfile
karma.conf.js
protractor.conf.js
sonar-project.properties
tsconfig.json
tslint.json
